.header-footer {
  background-color: lightblue;
  font-family: sans-serif;
}

body {
  padding: 20px;
  margin: 30px;
  border: ridge green 5px;
}

h1 {
  margin-top: 0;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.font-blue {
  color: blue;
}

#small-text {
  font-size: 8px;
}

